<ion-header>
    <ion-toolbar class="new-background-color">
      <ion-buttons slot="start">
      </ion-buttons>
      <ion-title>
      INFORMATION
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <!-- content of the information page -->
  <ion-content>
    <div class="knw">
        <h3 style="text-align: center;">KNOW MORE ABOUT US</h3>
    </div>
  
  <ion-card>
    <div class="tab">
      <input type="checkbox" id="chck1">
      <label class="tab-label" for="chck1">PERSONAL LOAN</label>
      <ion-card-content class="tab-content">
        <!-- the info that will be in an accordion list -->
        <ion-label >Want to know more about the personal loan?</ion-label>
        <ion-label >Personal loan transaction can be done online.</ion-label>
        <ion-label >Please visit Absa webside for more information.</ion-label>
        <ion-label >Bring the following to do it at the branch</ion-label>
        <ion-item>
           <ion-icon color="primary" name="checkmark" slot="start"></ion-icon>
            <p>A valid bar-coded South African ID</p>
          </ion-item>
          <ion-item>
             <ion-icon color="primary" name="checkmark" slot="start"></ion-icon>
              <p>Your last 3 months payslip or bank statement</p>
            </ion-item>
            <ion-item>
               <ion-icon color="primary" name="checkmark" slot="start"></ion-icon>
                <p>Proof of residence</p>
              </ion-item>
      </ion-card-content>
    </div>
  </ion-card>
  <ion-card>
    <div class="tab">
      <input type="checkbox" id="chck2">
      <label class="tab-label" for="chck2">OPEN ACCOUNT</label>
      <ion-card-content class="tab-content">
        <!-- the info that will be in an accordion list -->
        <h2>What you need to open your account</h2>
        <ion-item>
           <ion-icon color="primary" name="checkmark" slot="start"></ion-icon>
            <!-- <ion-icon color="primary" name="radio-button-off" slot="start"></ion-icon> -->
          <p>Minimum account opening balance of R50. </p>
        </ion-item>
        <ion-item>
            <ion-icon color="primary" name="checkmark" slot="start"></ion-icon>
            <!-- <ion-icon color="primary" name="radio-button-on" slot="start"></ion-icon> -->
          <p>A valid bar-coded South African ID. </p>
        </ion-item>
        <ion-item>
           <ion-icon color="primary" name="checkmark" slot="start"></ion-icon>
          <!-- <ion-icon color="primary" name="radio-button-on" slot="start"></ion-icon> -->
          <p>Proof of residence</p>
        </ion-item>
      </ion-card-content>
    </div>
  </ion-card>
  <ion-card>
    <div class="tab">
      <input type="checkbox" id="chck3">
      <label class="tab-label" for="chck3">CASH DEPOSIT</label>
      <ion-card-content class="tab-content">
        <!-- the info that will be in an accordion list -->
        <h2>How to Deposit a Cash On ATM</h2>
        <ion-item>
            <ion-icon color="primary" name="checkmark" slot="start"></ion-icon>
          <p>Swipe your ATM card and enter your PIN.</p>
        </ion-item>
        <ion-item>
            <ion-icon color="primary" name="checkmark" slot="start"></ion-icon>
          <p>Instead of selecting WITHDRAWAL, select DEPOSIT.</p>
        </ion-item>
        <ion-item>
            <ion-icon color="primary" name="checkmark" slot="start"></ion-icon>
          <p>Fill out the requisite information</p>
        </ion-item>
        <ion-item>
            <ion-icon color="primary" name="checkmark" slot="start"></ion-icon>
        <p>Place cash in deposit compartment of ATM.</p>
        </ion-item>
        <ion-item>
            <ion-icon color="primary" name="checkmark" slot="start"></ion-icon>
          <p>Select complete transaction on the screen.</p>
        </ion-item>
        <ion-item>
            <ion-icon color="primary" name="checkmark" slot="start"></ion-icon>
          <p>Walk/drive away. But not before getting a Slurpee.</p>
        </ion-item>
      </ion-card-content>
    </div>
  </ion-card>
  <ion-card>
    <div class="tab">
      <input type="checkbox" id="chck4">
      <label class="tab-label" for="chck4">CAR FINANCE</label>
      <ion-card-content class="tab-content">
        <!-- the info that will be in an accordion list -->
        <h2>Want a payment that suits your pocket</h2>
        <ion-item>
           <ion-icon color="primary" name="checkmark" slot="start"></ion-icon>
          <p>Your last 3 months payslip or bank statement</p>
        </ion-item>
        <ion-item>
            <ion-icon color="primary" name="checkmark" slot="start"></ion-icon>
        <p>Proof of residence</p>
        </ion-item>
      </ion-card-content>
    </div>
  </ion-card>
  <ion-card>
    <div class="tab">
      <input type="checkbox" id="chck5">
      <label class="tab-label" for="chck5">STUDENT LOAN</label>
      <ion-card-content class="tab-content">
        <!-- the info that will be in an accordion list -->
        <h2>Who can apply</h2>
        <ion-item>
          <ion-icon color="primary" name="checkmark" slot="start"></ion-icon>
          <ion-label>South African citizen</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon color="primary" name="checkmark" slot="start"></ion-icon>
          <ion-label>Earn more than R3 000 a month</ion-label>
        </ion-item>
        <ion-item>
         <ion-icon color="primary" name="checkmark" slot="start"></ion-icon>
         <ion-label>The loan can be in the name of a parent</ion-label>  
       </ion-item>
      </ion-card-content>
    </div>
  </ion-card>
  </ion-content>